<div class="edit-Ticket-container container mt-5">
    <h1 class="mb-4 card-title" >  <i  (click)="goBack()" class="fas fa-arrow-left" style="margin-right: 8px;"></i>Edit Ticket</h1>
    <form [formGroup]="ticketForm" (ngSubmit)="updateTicket()" class="edit-Ticket-form">
        <div class="form-group">
            <label for="id" class="form-label">Ticket ID</label>
            <input id="id" formControlName="id" class="form-control">
          </div>
      <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <input id="description" formControlName="description" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="status" class="form-label">Status</label>
        <select 
            id="status" 
            formControlName="status" 
            class="form-control"
            required 
            style=" border: 4px solid #ecf0f4;">
            <option value="" disabled selected>Select Status</option>
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
        </select>
    </div>
    
      
      <div class="form-group">
        <label for="dateCreated" class="form-label">Date Created</label>
        <input style="background-color: #ecf0f400; border: 4px solid #ecf0f4;" id="dateCreated" formControlName="dateCreated" class="form-control" type="text" readonly>
      </div>
      
      <div class="form-group">
        <label for="dateChanged" class="form-label">Date Changed</label>
        <input style="background-color: #ecf0f400; border: 4px solid #ecf0f4;" id="dateChanged" formControlName="dateChanged" class="form-control" type="text" readonly>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn" style="background-color: orange; color: white; font-weight: 500;width: 100%;">Update Ticket</button>
    </div>

    </form>
  </div>
  